interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://eonet.gsfc.nasa.gov/api/v3/events?status=open&limit=3&category=wildfires
  response:
    body:
      string: "{\n\t\"title\": \"EONET Events\",\n\t\"description\": \"Natural events
        from EONET.\",\n\t\"link\": \"https://eonet.gsfc.nasa.gov/api/v3/events\",\n\t\"events\":
        [\n\t\t{\n\t\t\t\"id\": \"EONET_15807\",\n\t\t\t\"title\": \"RX Mason 4828
        Prescribed Fire, Mason, Texas\",\n            \"description\": null,\n\t\t\t\"link\":
        \"https://eonet.gsfc.nasa.gov/api/v3/events/EONET_15807\",\n\t\t\t\"closed\":
        null,\n\t\t\t\t\"categories\": [\n\t\t\t\t\t{\n\t\t\t\t\t\"id\": \"wildfires\",\n\t\t\t\t\t\"title\":
        \"Wildfires\"\n\t\t\t\t}\n\n\t    \t\t\t\t],\n    \t\t\t\"sources\": [\n\t\t\t\t\t{\n\t\t\t\t\t\"id\":
        \"IRWIN\",\n\t\t\t\t\t\"url\": \"https://irwin.doi.gov/observer/incidents/3797347a-52f0-4dd9-9537-0f699e97be44\"\n\t\t\t\t}\n\n\t\t\t\t\t\t\n\t\t\t],\n\t\t\t\t\t\"geometry\":
        [\n\t\t\t\t\t{\n\t\t\t\t\t\t\t\"magnitudeValue\": 500.00,\n\t\t\t\t\t\"magnitudeUnit\":
        \"acres\",\n\t\t\t\t\t\"date\": \"2025-10-16T09:32:00Z\",\n\t\t\t\t\t\"type\":
        \"Point\", \n\t\t\t\t\t\t\t\"coordinates\": [ -99.37416667, 30.92305556 ]\n\t\t\t\t\t\t\t}\n\n\t\t\t\t\t\t\n\t\t\t]\n\t\t},\n\n\t\t\t{\n\t\t\t\"id\":
        \"EONET_15787\",\n\t\t\t\"title\": \"Attala 6592 Attala Road 3232 Wildfire,
        Attala, Mississippi\",\n            \"description\": \"14 Miles S from Poplar
        Springs, MS\",\n\t\t\t\"link\": \"https://eonet.gsfc.nasa.gov/api/v3/events/EONET_15787\",\n\t\t\t\"closed\":
        null,\n\t\t\t\t\"categories\": [\n\t\t\t\t\t{\n\t\t\t\t\t\"id\": \"wildfires\",\n\t\t\t\t\t\"titl[...]
